<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home -  WBH')" />
<body>
	<div th:replace="navigationP :: menu"></div>
	<div th:replace="navigationP :: social_menu"></div>

	<!-- Content -->
		<h2> WHB Control Panel</h2>
		 Welcome 
	 
	<!-- End of Content -->

	<div th:replace="navigationP :: footer"></div>

	<script type="text/javascript">

	</script>
</body>
</html>