<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragmentsAdmin :: page_head('Edit users -  WBH','none')" />
<body>
	<div th:replace="navigation2 :: menu"></div>

	<!-- Content -->
	<div>
		<h2 class="text-center m-3">Manage Categories - [[${pageTitle}]]</h2>
		<div class="border-top border-dark w-50 mx-auto my-3"></div>
	</div>
	<div class="d-flex justify-content-center">
					<div class="col-lg-6 mb-4 my-lg-auto p-3 bg-light"
						style="max-width: 900px; margin: 0 auto">
					<h3 class="font-weight-bold mb-3">Please fill the information bellow:</h3>
					<form th:action="@{/admin/categories/save}" method="post" th:object="${category}" 
						 enctype="multipart/form-data">
						 <div class="boder border-secondary rounded p-3">
						<input type="hidden" th:field="*{id}"/>
						
						<div class="form-group row mb-2">
							<label class="col-sm-4 col-form-label">Category Name:</label>
							<div class="input col-sm-8">
								<input class="form-control" type="text" th:field="*{name}" placeholder="Category name..." required maxlength="128"/>
							</div>
						</div>
						
						<div class="form-group row mb-2">
							<label class="col-sm-4 col-form-label">Description:</label>
							<div class="input col-sm-8">
								<input class="form-control" type="text" th:field="*{description}" placeholder="Category Description..." required minlength="3" maxlength="128"/>
							</div>
						</div>

						<div class="form-group row mb-2">
							<label class=" col-sm-4 col-form-label">Parent:</label>
							<div class="input col-sm-8">
								<select class="form-control" th:field="*{parent}">
									<option value="0">[No Parent]</option>
									
									<th:block th:each="category : ${listCategories}">
										<option th:value="${category.id}">[[${category.name}]]</option>
									</th:block>
									
								</select>
							</div>
						</div>			
						
						<div class="form-gorup row mb-2">
							<label class="col-sm-4 col-form-label">Enabled:</label>
							<div class="input col-sm-8">
							<input type="checkbox" th:field="*{enabled}"/>
							</div>
						</div>	
						
	
						<div class="text-center">
							<input type="submit" class="btn btn-dark btn-lg" value="Submit" />
							<input type="button" value="Cancel" class="btn btn-secondary btn-outline-dark btn-lg" id="buttonCancel" />
						</div>
					</div>
				</form>
			</div>
		</div>

	<!-- End of the content -->
	<!-- Alert email duplicated -->
	<div class="modal" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
 				</div>
 				<div class="modal-body">
 					<span id="modalBody"></span>
 				</div>
 				<div class="modal-footer">
 					<a class="btn btn-danger" href="" data-dismiss="modal" id="closeButton">Close</a>
 				</div>
			</div>
		</div>
	</div>
&nbsp;
&nbsp;
	<div th:replace="navigation2 :: footer"></div>

	<!-- Script Source Files -->

	<!-- jQuery -->
	
	<script type="text/javascript">
		moduleURL = "[[@{/admin/categories}]]";
		
		
	</script>
	<script th:src="@{/js/common_forms.js}"></script>
</body>
</html>