<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Your Account Details -  WBH')" />
<body>
	<div th:replace="navigation2 :: menu"></div>
	<div th:replace="navigation2 :: social_menu"></div>
	<!-- Content -->
    <div class="col-12 text-center mt-4">
            <h1 class="display-4 pt-4">Your Account Details</h1>
            <div class="border-top border-dark w-50 mx-auto my-3"></div>
            <p class="lead">Manage your account details.</p>
        </div>
		<div th:if="${message != null}" class=" alert alert-success text-center">
		[[${message}]]
	</div>
	
	<div class="d-flex justify-content-center">
		<div class="col-lg-8 mb-4 my-lg-auto p-3 bg-light"
			style="max-width: 1000px; margin: 0 auto">
					<h3 class="font-weight-bold mb-3">Please fill the information bellow:</h3>
					<form th:action="@{/account/professional/update}" method="post" th:object="${user}" enctype="multipart/form-data">
						<input type="hidden" th:field="*{id}"/>
						<div class="form-group  row">
							<label class="col-sm-4 col-form-label mb-2">First Name:</label>
							<div class="input col-sm-8">
								<input type="text" th:field="*{firstName}" placeholder="First name..." required minlength="2" maxlength="45" class="form-control"/>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="mb-2 col-sm-4 col-form-label">Last Name:</label>
							<div class="input col-sm-8">
								<input type="text" th:field="*{lastName}" placeholder="Second name..." required minlength="2" maxlength="45" class="form-control"/>
							</div>
						</div>

						<div class="form-group row">
							<label class="mb-2 col-sm-4 col-form-label">Email:</label>
							<div class="input col-sm-8">
								<input type="email" th:field="*{email}" placeholder="Your email..."  readonly="readonly" class="form-control"/>
							</div>
						</div>			
						
						<div class="form-group row">
							<label class="mb-2 col-sm-4 col-form-label">Password:</label>
							<div class="input col-sm-8">
								<input type="password" th:field="*{password}" class="form-control"
									placeholder="Leave blank if for no change" minlength="8" maxlength="20"
									oninput="checkPassowrdField(document.getElementById('confirmPassword'))" />
							</div>
						</div>			
								
						<div class="form-group row">
							<label class="mb-2 col-sm-4 col-form-label">Confirm Password:</label>
							<div class="input col-sm-8">
								<input type="password" id="confirmPassword" class="form-control"
									th:field="*{password}" minlength="8" maxlength="20"
									oninput="checkPassowrdField(this)"/>
							</div>
						</div>	
						
						<div class="form-group row">
							<label class="mb-2 col-sm-4 col-form-label">Phone:</label>
							<div class="input col-sm-8">
								<input type="tel" th:field="*{contact}" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" placeholder="999 999 9999" required class="form-control"/>
							</div>
						</div>		
											
						<div class="form-group row">
							<label class="mb-2 col-sm-4 col-form-label">Date of Birth:</label>
							<div class="input col-sm-8">
								<input type="date" th:field="*{dob}" minlength="10" maxlength="10" required class="form-control"/>
							</div>
						</div>	

					<div class="form-group row">
					<label class="col-sm-4 col-form-label mb-2">Address Line 1:</label>
					<div class="input col-sm-8">
						<textarea type="text" th:field="*{addressLine1}"
							placeholder="Please enter your address..."
							style="height: 100px" minlength="5" maxlength="100" required
							class="form-control"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label mb-2">Address Line 2:</label>
					<div class="input col-sm-8">
						<textarea type="text" th:field="*{addressLine2}"
							placeholder="Please enter your address..."
							style="height: 100px" minlength="20" maxlength="100" 
							class="form-control"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label mb-2">Postal Code:</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{postalCode}"
							placeholder="Your Post Code..." required minlength="2" maxlength="7"
							class="form-control">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label mb-2">City</label>
					<div class="input col-sm-8 ">
						<input type="text" th:field="*{city}"
							placeholder="Your city..." required minlength="2" maxlength="20"
							class="form-control">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label mb-2">Country:</label>
					<div class="input col-sm-8 ">
						<input type="text" th:field="*{country}"
							placeholder="Your country..." required minlength="2" maxlength="20"
							class="form-control">
					</div>
				</div>	
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label mb-2">Title:</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{title}"
							placeholder="Your country..." required minlength="2" maxlength="50"
							class="form-control">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label mb-2">Qualification:</label>
					<div class="input col-sm-8">
						<textarea type="text" th:field="*{qualification}"
							placeholder="Your country..." required minlength="2" maxlength="100" style="height: 200px"
							class="form-control"></textarea>
					</div>
				</div>	
						
						<div class="form-group row">
							<label class="col-sm-4 col-form-label mb-2">Photos:</label>
							<div class="input col-sm-8">
							<input type="hidden" th:field="*{photos}" />
								<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2"/>
								<img id="thumbnail" alt="Photos preview" th:src="@{${user.photosImagePath}}" 
									class="img-fluid"/>
							</div>
						</div>	
						<div class="text-center">
						&nbsp;
							<input type="submit" class="btn btn-dark btn-lg" value="Submit" />
							<input type="button" value="Cancel" class="btn btn-secondary btn-outline-dark btn-lg" id="buttonCancel" />
						</div>
				</form>
			</div>
		</div>
		&nbsp;
		&nbsp;
	<!-- End of the content -->
	<!-- Alert email duplicated -->
	

	<div th:replace="navigation2 :: footer"></div>

	<!-- Script Source Files -->

	<!-- jQuery -->
	
	<script type="text/javascript">
	moduleURL = "[[@{/professionals/account}]]";
	function checkPassowrdField(confirmPassword){
		if(confirmPassword.value != $("#password").val()){
			confirmPassword.setCustomValidity("Passwords do not match");
		} else{
			confirmPassword.setCustomValidity("");
		}
	}
	</script>
	<script th:src="@{/js/common_forms.js}"></script>
</body>
</html>