<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Register Professional -  WBH')" />
<body>

	<div id="navigation-sticky">
		<div th:replace="navigation :: menu"></div>
	</div>


	<!-- Main Page Heading -->
	<div>
		<h2 class="text-center m-3">Manage Professionals - [[${pageTitle}]]</h2>
		<div class="border-top border-dark w-50 mx-auto my-3"></div>
	</div>

	<!-- Section to be filled-->
	<div>
		<div class="container border border-secondary rounded p-3 mb-5">
			<div class="row">
				<div class="sign col-lg-12 mb-4 my-lg-auto">
					<h3 class="font-weight-bold mb-3">Please fill the information bellow:</h3>
					<form th:action="@{/professionals/save}" method="post" th:object="${professional}" 
						onsubmit="return checkEmailUnique(this);" enctype="multipart/form-data">
						<input type="hidden" th:field="*{id}"/>
	
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">First Name:</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{firstName}"
							placeholder="Your first name..." required minlength="2"
							maxlength="50" class="form-control">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Last Name:</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{lastName}"
							placeholder="Your last name..." required minlength="2"
							maxlength="50" class="form-control">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Email:</label>
					<div class="input col-sm-8">
						<input type="email" th:field="*{email}"
							placeholder="Your email..." required minlength="5" maxlength="50"
							class="form-control">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Password:</label>
					<div class="input col-sm-8">
						<input th:if="${professional.id ==null}" type="password" th:field="*{password}"
							placeholder="Your passowrd..." required minlength="6"
							maxlength="20" class="form-control"
							oninput="checkPassowrdField(document.getElementById('confirmPassword'))">
						<input th:if="${professional.id !=null}" type="password" th:field="*{password}"
							placeholder="Your passowrd..."  minlength="6"
							maxlength="20" class="form-control"
							oninput="checkPassowrdField(document.getElementById('confirmPassword'))">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Re-type Password:</label>
					<div class="input col-sm-8">
						<input th:if="${professional.id ==null}"  type="password" id="confirmPassword" th:field="*{password}"
							placeholder="Confirm passowrd..." required minlength="6"
							maxlength="20" class="form-control"
							oninput="checkPassowrdField(this)">
						<input th:if="${professional.id !=null}"  type="password" id="confirmPassword" th:field="*{password}"
							placeholder="Confirm passowrd..." minlength="6"
							maxlength="20" class="form-control"
							oninput="checkPassowrdField(this)">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Phone:</label>
					<div class="input col-sm-8">
						<input type="tel" th:field="*{contact}"
							pattern="[0-9]{3} [0-9]{3} [0-9]{4}" placeholder="999 999 9999"
							required class="form-control">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Date of Birth:</label>
					<div class="input col-sm-8">
						<input type="date" th:field="*{dob}" minlength="10" maxlength="10"
							required class="form-control">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Address Line 1:</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{addressLine1}"
							placeholder="Please enter your address..."
							style="height: 100px" minlength="20" maxlength="100" required
							class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Address Line 2:</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{addressLine2}"
							placeholder="Please enter your address..."
							style="height: 100px" minlength="20" maxlength="100" 
							class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Postal Code:</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{postalCode}"
							placeholder="Your Post Code..." required minlength="2" maxlength="6"
							class="form-control">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">City</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{city}"
							placeholder="Your city..." required minlength="2" maxlength="20"
							class="form-control">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Country:</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{country}"
							placeholder="Your country..." required minlength="2" maxlength="20"
							class="form-control">
					</div>
				</div>	
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Title:</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{title}"
							placeholder="Your country..." required minlength="2" maxlength="50"
							class="form-control">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Qualification:</label>
					<div class="input col-sm-8">
						<input type="text" th:field="*{qualification}"
							placeholder="Your country..." required minlength="2" maxlength="200"
							class="form-control">
					</div>
				</div>	
				<div class="form-gorup row">
							<label class="label col-sm-4 col-form-label">Photos:</label>
							<div class="input col-sm-8">
							<input type="hidden" th:field="*{photos}" />
								<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2"/>
								<img id="thumbnail" alt="Photos preview" th:src="@{${professional.photosImagePath}}" 
									class="img-fluid"/>
							</div>
						</div>	
				<div class="row p-2 text-center">
					<input type="submit" class="btn btn-dark btn-lg"
						value="Update Account" />
				</div>
				</form>
			</div>
		</div>
		</div>
	</div>
	<!-- End of Section to be filled-->

	<!-- Alert email duplicated -->
	<div class="modal" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
 				</div>
 				<div class="modal-body">
 					<span id="modalBody"></span>
 				</div>
 				<div class="modal-footer">
 					<a class="btn btn-danger" href="" data-dismiss="modal" id="closeButton">Close</a>
 				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="navigation :: footer"></div>

	<script type="text/javascript">
	moduleURL = "[[@{/}]]";
	function checkPassowrdField(confirmPassword){
		if(confirmPassword.value != $("#password").val()){
			confirmPassword.setCustomValidity("Passwords do not match");
		} else{
			confirmPassword.setCustomValidity("");
		}
	}


	function checkEmailUnique(form){
		url = contextPath + "professionals/check_unique_email";
		professionalEmail = $("#email").val();
		csrfValue = $("input[name='_csrf']").val();
		
		params = {email: professionalEmail, _csrf:  csrfValue};
			 	
		$.post(url, params, function(response) {
			if(response=="OK"){
				form.submit();
			}else if(response == "Duplicated") {
				showModalDialog("Warning", "There is another professional regitered with the Email ");
			}else {
				showModalDialog("Error", "Unknown response from server ");
			}
		}).fail(function() {
			showModalDialog("Error", "Could not connect to server ");
		});
		
		return false;
	}
	
	function showModalDialog(title, message){
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	}
	
	</script>


	<!-- End Script Source Files -->
</body>
</html>