<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<head th:replace="fragments :: page_head(${pageTitle})" />
</head>
<body>
	<div id="navigation-sticky">

	<div th:replace="navigation :: menu"></div>


		<div th:replace="navigation :: social_menu"></div>
	
		<div>&nbsp;</div>
		<!-- Main Page Heading -->
		<div class="col-12 text-center mt-4">
			<h1 class="display-4 pt-4">Registration</h1>
			<div class="border-top border-dark w-50 mx-auto my-3"></div>
			<p class="lead">You have registered successfully on our website </p>
			<p class="lead">Please check your email to verify your account </p>
			<p><a th:href="@{/login}">Login here</a></p>

		</div>
		<div>&nbsp;</div>

	<div th:replace="navigation :: footer"></div>

	<!-- Script Source Files -->

	<!-- End Script Source Files -->
</body>
</html>