<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragmentsAdmin :: page_head('Your Account Details -  WBH','none')" />
<body>
	<div th:replace="navigation2 :: menu"></div>

	<!-- Content -->
	<div>
		<h2 class="text-center m-3">Your Account Details</h2>
		<div class="border-top border-dark w-50 mx-auto my-3"></div>
	</div>
		<div th:if="${message != null}" class=" alert alert-success text-center">
		[[${message}]]
	</div>
	
	<div>
		<div class="container border border-secondary rounded p-3 mb-5">
				<div class="sign col-lg-12 mb-4 my-lg-auto">
					<h3 class="font-weight-bold mb-3">Please fill the information bellow:</h3>
					<form th:action="@{admin/account/update}" method="post" th:object="${user}" enctype="multipart/form-data" class="form-control">
						<input type="hidden" th:field="*{id}"/>
						<div class="form-group row">
							<label class=" col-sm-4 col-form-label">First Name:</label>
							<div class="input col-sm-8">
								<input type="text" th:field="*{firstName}" placeholder="First name..." required minlength="2" maxlength="45" class="form-control">
							</div>
						</div>
						
						<div class="form-group row">
							<label class=" col-sm-4 col-form-label">Last Name:</label>
							<div class="input col-sm-8">
								<input type="text" th:field="*{lastName}" placeholder="Second name..." required minlength="2" maxlength="45" class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<label class=" col-sm-4 col-form-label">Email:</label>
							<div class="input col-sm-8">
								<input type="email" th:field="*{email}" placeholder="Your email..."  readonly="readonly" class="form-control">
							</div>
						</div>			
						
						<div class="form-group row">
							<label class=" col-sm-4 col-form-label">Password:</label>
							<div class="input col-sm-8">
								<input type="password" th:field="*{password}" 
									placeholder="Leave blank if for no change" minlength="8" maxlength="20"
									oninput="checkPassowrdField(document.getElementById('confirmPassword'))" class="form-control">
							</div>
						</div>			
								
						<div class="form-group row">
							<label class=" col-sm-4 col-form-label">Confirm Password:</label>
							<div class="input col-sm-8">
								<input type="password" id="confirmPassword" 
									th:field="*{password}" minlength="8" maxlength="20"
									oninput="checkPassowrdField(this)" class="form-control">
							</div>
						</div>	
						
						<div class="form-group row">
							<label class=" col-sm-4 col-form-label">Phone:</label>
							<div class="input col-sm-8">
								<input type="tel" th:field="*{contact}" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" placeholder="999 999 9999" required class="form-control">
							</div>
						</div>		
											
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Date of Birth:</label>
							<div class="input col-sm-8">
								<input type="date" th:field="*{dob}" minlength="10" maxlength="10" required class="form-control">
							</div>
						</div>	

						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Address Line 1:</label>
							<div class="input col-sm-8">
								<input type="text" th:field="*{addressLine1}"
									placeholder="Please enter your address..."
									style="height: 100px" minlength="20" maxlength="100" required
									class="form-control" >
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Address Line 2:</label>
							<div class="input col-sm-8">
								<input type="text" th:field="*{addressLine2}"
									placeholder="Please enter your address..."
									style="height: 100px" minlength="20" maxlength="100"
									class="form-control" >
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Postal Code:</label>
							<div class="input col-sm-8">
								<input type="text" th:field="*{postalCode}"
									placeholder="Your Post Code..." required minlength="2"
									maxlength="6" class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-4 col-form-label">City</label>
							<div class="input col-sm-8">
								<input type="text" th:field="*{city}" placeholder="Your city..."
									required minlength="2" maxlength="20" class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Country</label>
							<div class="input col-sm-8">
								<input type="text" th:field="*{country}"
									placeholder="Your country..." required minlength="2"
									maxlength="20" class="form-control">
							</div>
						</div>
						
						<div class="form-gorup row">
							<label class="label col-sm-4 col-form-label">Assigned Roles:</label>
							<div class="input col-sm-8">
								<span><b> [[${user.roles}]]</b></span>
							</div>
						</div>	
						<div class="form-gorup row">
							<label class="label col-sm-4 col-form-label">Photos:</label>
							<div class="input col-sm-8">
							<input type="hidden" th:field="*{photos}" />
								<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2">
								<img id="thumbnail" alt="Photos preview" th:src="@{${user.photosImagePath}}" 
									class="img-fluid"/>
							</div>
						</div>	
						<div class="text-center">
							<input type="submit" value="Save" class="btn btn-primary btn-outline-dark btn-lg" > 
							<input type="button" value="Cancel" class="btn btn-secondary btn-outline-dark btn-lg" id="buttonCancel" >
						</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End of the content -->
	<!-- Alert email duplicated -->
	

	<div th:replace="navigation2 :: footer"></div>

	<!-- Script Source Files -->

	<!-- jQuery -->
	
	<script type="text/javascript">
	moduleURL = "[[@{/admin/}]]";
	function checkPassowrdField(confirmPassword){
		if(confirmPassword.value != $("#password").val()){
			confirmPassword.setCustomValidity("Passwords do not match");
		} else{
			confirmPassword.setCustomValidity("");
		}
	}
	</script>
	<script th:src="@{/js/common_forms.js}"></script>
</body>
</html>