<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<head th:replace="fragmentsAdmin :: page_head('MySessions -  WBH','none')" />
</head>

<body>
    <div id="navigation-sticky">

 	<div th:replace="navigation2 :: menu"></div>
    <div th:replace="navigation2 :: social_menu"></div>

        <!-- Main Page Heading -->
        <div class="col-12 text-center mt-5">
            <h1 class="display-4 pt-4">My Reviews</h1>
            <div class="border-top border-dark w-50 mx-auto my-3"></div>
        </div>
        
    <div th:if="${message != null}" class=" alert alert-success text-center">
		[[${message}]]
	</div>
        <!-- Section to be filled-->
        <!-- Filter -->
	<div>
	</div>
        <div class="container">
            <div th:each = "review : ${listReviews}" class="row py-4 border border-dark rounded">
                <div class="sign col-lg-12 mb-4 my-lg-auto">
                            <form action="" onsubmit="" class="m-3">
                                <div class="row">
                                    <div class="output col-9">
                                        <h4>[[${review.title}]]</h4>
                                    </div>
                                    <div class="output col-3">
                                        <h4>Rate: [[${review.rate}]] </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="output col-12">
                                        <h6>Professional: [[${review.professional}]]</h6>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="output col-7">
                                        <h6>Client: [[${review.customer}]]</h6>
                                    </div>
                                 </div>
                                <div class="row">
                                    <div class="output col-12">
                                        <h6>Review: [[${review.text}]]</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="output col-12">
                                        <h6>Date: [[${review.createdTime}]]</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="output col-12">
                                        <h6>Review moderated: [[${review.enabled}]] </h6>
                                    </div>
                                </div>
                                <div class="row text-center mx-auto">
                                	 <a class="btn float-left btn-outline-dark link-delete btn-sm col-3" th:href="@{'/customers/review/delete/' +${review.id}}" th:userId="${review.id}" title="Cancel this Booking">Delete Review</a>
                                     <a class="btn float-right btn-outline-dark btn-sm col-3" th:href="@{'/customers/review/edit/' +${review.id}}" th:userId="${review.id}" title="Review this Session">Edit Review</a>
                                </div>
                            </form>    
                </div>  
            </div> 
        </div>
        <!-- End of Section to be filled-->

    </div> <!-- End Social Media Sticky -->
 <!-- Alert delete confirmation -->
	<div class="modal" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Cancel booking Confirmation</h4>
 				</div>
 				
 				<div class="modal-body">
 					<span id="confirmText"></span>
 				</div>
 				
 				<div class="modal-footer">
 					<a class="btn btn-success" href="" id="yesButton">Yes</a>
 					<a class="btn btn-danger" href="" data-dismiss="modal" id="noButton">No</a>
 				</div>
			</div>
		</div>
	</div>
	<!-- End of delete confirmation alert-->

    <!-- Script Source Files -->

    <!-- jQuery -->
  
	<div th:replace="navigation2 :: footer"></div>
	
    <script type="text/javascript">
		$(document).ready(function() {
			$(".link-delete").on("click",function(e) {
				e.preventDefault();
				link = $(this);
				//alert($(this).attr("href"));
				userId = link.attr("sessionnId");
				$("#yesButton").attr("href",link.attr("href"));
				$("#confirmText").text("Are you sure you want to cancel the booking this session ?");
				$("#confirmModal").modal("show");
			});
			
		});
		
	</script>
</body>

</html>