<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<head th:replace="fragmentsAdmin :: page_head('MySessions -  WBH','none')" />
</head>

<body>
    <div id="navigation-sticky">

 	<div th:replace="navigation2 :: menu"></div>
    <div th:replace="navigation2 :: social_menu"></div>

        <!-- Main Page Heading -->
  <div class="col-12 text-center mt-4">
            <h1 class="display-4 pt-4">My Sessions</h1>
            <div class="border-top border-dark w-50 mx-auto my-3"></div>
            <p class="lead">Manage your booked sessions.</p>
        </div>
        
    <div th:if="${message != null}" class=" alert alert-success text-center">
		[[${message}]]
	</div>
        <!-- Section to be filled-->
        <!-- Filter -->
	<div class="text-center">
	</div>
        <div class="container signform">
            <div th:each = "sessionn : ${listSessions}" class="row bg-light border-light rounded mb-4 py-4">
                <div class="sign col-lg-12 mb-4 my-lg-auto">
                    <div class="row">
                        <div class="col-3">
                            <span th:if="${sessionn.professional.photos==null}" class="fas fa-portrait fa-4x icon-silver"></span>
							<img th:if="${sessionn.professional.photos!=null}" th:src="@{${sessionn.professional.photosImagePath}}" style="width:250px"/>
                        </div>
                       <div class="col-9">
                            <form action="index.html" onsubmit="index.html">
                                <div class="row">
                                    <div class="output col-8">
                                        <h5>[[${sessionn.professional}]]</h5>
                                    </div>
                                    <div class="output col-4">
                                        <h5>Category: [[${sessionn.categories}]]</h5>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="output col-8">
                                        <h5>Session duration: [[${sessionn.duration}]] min</h5>
                                    </div>
                                    <div class="output col-4">
                                        <h5>Price: &euro; [[${sessionn.price}]] </h5>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="output col-12">
                                        <h6>Description: </h6>
                                        <h6>[[${sessionn.description}]]</h6>
                                    </div>
                                    &nbsp;
                                </div>
                                <div class="row">
                                &nbsp;
                                    <div class="output col-12">
                                        <h6>Date: [[${sessionn.date}]] at [[${sessionn.startTime}]]</h6>
                                    </div>
                                </div>
                                <div class="text-center">
                                	 <a class="btn btn-dark btn-md" th:href="@{'/customers/search/cancelbooking/' +${sessionn.id}}" th:userId="${sessionn.id}" title="Cancel this Booking">Cancel Booking</a>
                                     <a class="btn btn-secondary btn-outline-dark btn-md" th:href="@{'/customers/session/review/' +${sessionn.id}}" th:userId="${sessionn.id}" title="Review this Session">Review Session</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of Section to be filled-->

<!-- Pagination -->
	<div class="text-center m-1"  th:if="${totalItems >0}">
		<span> Showing users [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1"  th:unless="${totalItems >0}">
		<span> No Users Found</span>
	</div>
	<div th:if="${totalPages > 1}">
	<nav>
  		<ul class="pagination justify-content-center flex-wrap">
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragmentsAdmin :: page_link10(1, 'First')"></a>
		    </li>
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragmentsAdmin :: page_link10(${currentPage-1}, 'Previous')"></a>
		    </li>
		    
		    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
		    	th:each="i : ${#numbers.sequence(1,totalPages)}">
		    	<a th:replace="fragmentsAdmin :: page_link10(${i}, ${i})"></a>
		    </li>
		    
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragmentsAdmin :: page_link10(${currentPage+1}, 'Next')"></a>
		    </li>
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragmentsAdmin :: page_link10(${totalPages}, 'Last')"></a>
		    </li>
 	 	</ul>
	</nav>
	</div>
	<!-- End of Pagination -->

    </div> <!-- End Social Media Sticky -->
 <!-- Alert delete confirmation -->
	<div class="modal" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Cancel booking Confirmation</h4>
 				</div>
 				
 				<div class="modal-body">
 					<span id="confirmText"></span>
 				</div>
 				
 				<div class="modal-footer">
 					<a class="btn btn-success" href="" id="yesButton">Yes</a>
 					<a class="btn btn-danger" href="" data-dismiss="modal" id="noButton">No</a>
 				</div>
			</div>
		</div>
	</div>
	<!-- End of delete confirmation alert-->

    <!-- Script Source Files -->

    <!-- jQuery -->
  
	<div th:replace="navigation2 :: footer"></div>
	
    <script type="text/javascript">
		$(document).ready(function() {
			$(".link-delete").on("click",function(e) {
				e.preventDefault();
				link = $(this);
				//alert($(this).attr("href"));
				userId = link.attr("sessionnId");
				$("#yesButton").attr("href",link.attr("href"));
				$("#confirmText").text("Are you sure you want to cancel the booking this session ?");
				$("#confirmModal").modal("show");
			});
			
		});
		
	</script>
</body>

</html>