<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<head th:replace="fragmentsAdmin :: page_head('MySessions -  WBH','none')" />
</head>

<body>
    <div id="navigation-sticky">

 	<div th:replace="navigation2 :: menu"></div>
    <div th:replace="navigation2 :: social_menu"></div>

        <!-- Main Page Heading -->
        <div class="col-12 text-center mt-5">
            <h1 class="display-4 pt-4">My Sessions</h1>
            <div class="border-top border-dark w-50 mx-auto my-3"></div>
        </div>
        
    <div th:if="${message != null}" class=" alert alert-success text-center">
		[[${message}]]
	</div>
        <!-- Section to be filled-->
        <!-- Filter -->
	<div class="text-center">
	</div>
        <div class="container signform">
            <div th:each = "sessionn : ${listSessions}" class="row py-4">
                <div class="sign col-lg-12 mb-4 my-lg-auto">
                    <div class="row">
                        <div class="col-3">
                            <span th:if="${sessionn.professional.photos==null}" class="fas fa-portrait fa-4x icon-silver"></span>
							<img th:if="${sessionn.professional.photos!=null}" th:src="@{${sessionn.professional.photosImagePath}}" style="width:250px"/>
                        </div>
                        <div class="col-9">
                            <form action="index.html" onsubmit="index.html">
                                <div class="row">
                                    <div class="output col-5">
                                        <h5>[[${sessionn.professional}]]</h5>
                                    </div>
                                    <div class="output col-6">
                                        <h5>Category: [[${sessionn.categories}]]</h5>
                                    </div>
                                    <div class="output col-1">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="output col-5">
                                        <h6></h6>
                                    </div>
                                    <div class="output col-7">
                                        <h6></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="output col-12">
                                        <h8></h8>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="output col-12">
                                        <h8>Description: [[${sessionn.description}]]</h8>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="output col-5">
                                        <h5>Session duration: [[${sessionn.duration}]]</h5>
                                    </div>
                                    <div class="output col-6">
                                        <h5>Price: [[${sessionn.price}]] </h5>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="output col-9">
                                        <h6>Session: [[${sessionn.date}]] - [[${sessionn.startTime}]]</h6>
                                    </div>
                                </div>
                                <div class="row">
                                	 <a class="btn float-left btn-outline-dark link-delete btn-sm" th:href="@{'/customers/session/cancelbooking/' +${sessionn.id}}" th:userId="${sessionn.id}" title="Cancel this Booking">Cancel Booking</a>
                                     <a class="btn float-right btn-outline-dark btn-sm" th:href="@{'/customers/session/review/' +${sessionn.id}}" th:userId="${sessionn.id}" title="Review this Session">Review Session</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of Section to be filled-->

    </div> <!-- End Social Media Sticky -->
 <!-- Alert delete confirmation -->
	<div class="modal" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Cancel booking Confirmation</h4>
 				</div>
 				
 				<div class="modal-body">
 					<span id="confirmText"></span>
 				</div>
 				
 				<div class="modal-footer">
 					<a class="btn btn-success" href="" id="yesButton">Yes</a>
 					<a class="btn btn-danger" href="" data-dismiss="modal" id="noButton">No</a>
 				</div>
			</div>
		</div>
	</div>
	<!-- End of delete confirmation alert-->

    <!-- Script Source Files -->

    <!-- jQuery -->
  
	<div th:replace="navigation2 :: footer"></div>
	
    <script type="text/javascript">
		$(document).ready(function() {
			$(".link-delete").on("click",function(e) {
				e.preventDefault();
				link = $(this);
				//alert($(this).attr("href"));
				userId = link.attr("sessionnId");
				$("#yesButton").attr("href",link.attr("href"));
				$("#confirmText").text("Are you sure you want to cancel the booking this session ?");
				$("#confirmModal").modal("show");
			});
			
		});
		
	</script>
</body>

</html>