<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="page_head(title)">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>[[${title}]]</title>
<link rel="shortcut icon" th:href="@{/img/2618.png}">
<link rel="stylesheet" th:href="@{/bootstrap.min.css}" />
<script th:src="@{/bootstrap.min.js}" ></script>
<script th:src="@{/jquery-3.6.0.min.js}" ></script>
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" />

</head>
<body>


	<a th:fragment="page_link(pageNum, label)" class="page-link"
		th:href="@{'/search/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' +${sortDir} + ${keyword !=null ? '&keyword=' + keyword : '' }}">[[${label}]]</a>

	
</body>
</html>