<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home -  WBH','none')" />
<body>
	<div th:replace="navigation :: menu"></div>

	<div th:replace="navigation :: social_menu"></div>

	<!-- Content -->
		<h2> WHB Control Panel</h2>
		 Welcome 
		 <a th:href="@{/account}" sec:authentication="principal.fullname"></a>
		 <span sec:authentication="principal.authorities"></span>
	 
	<!-- End of Content -->

	<div th:replace="navigation :: footer"></div>

	<script type="text/javascript">

	</script>
</body>
</html>