<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragmentsAdmin :: page_head('Home -  WBH','none')" />
<body>
	<div th:replace="navigation2 :: menu"></div>

	<div th:replace="navigation2 :: social_menu"></div>

	<!-- Content -->

		<div class="text-center m-5">
			<h4> WHB Control Panel - 
			 Welcome 
			 <a th:href="@{/admin/account}" sec:authentication="principal.fullname"></a>
			 <span sec:authentication="principal.authorities">&nbsp;
			 </span><br><br><br></h4>
			 <h1 class="italic">Wellbeing is the greatest possession!</h1>
			 <h4>Wbh - Wellbeing Services<br><br><br></h4>
			 <img style="height: 10rem" th:src="@{/img/2618.png}" alt="Logo" title="Logo">
		 </div>

	 
	 	
	<!-- End of Content -->

	<div th:replace="navigation2 :: footer"></div>

	<script type="text/javascript">

	</script>
</body>
</html>